
@using SRA.Client.ViewModel
@inject IPlateViewModel controller
@inject IModalService modal

<h3>Plates</h3>
<div class="container-fluid">
    @foreach (var key in controller.PlateRows.Keys)
    {
        <div class="row bg-light m-2">
            <div class="col">
                <div class="row m-2">
                    <div class="col">Zone: @(key + 1)</div>
                    @foreach (var plate in controller.PlateRows[key])
                    {
                        <div class="col">
                            <Plate PlateModel="@plate" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <div class="row bg-light m-2">
        <div class="col">
            <button type="button" class="btn btn-primary" @onclick="() => Add()">Add experiment</button>
        </div>
    </div>
 </div>

    @code {
        [CascadingParameter] public IModalService Modal { get; set; }
        protected override void OnInitialized()
        {
            controller.PlatesChanged += UpdateUI;
            base.OnInitialized();
        }

        private void UpdateUI(object sender, EventArgs e)
        {
            base.StateHasChanged();
        }

        private void Add()
        {
            var parameters = new ModalParameters();
            parameters.Add("ExperimentId", Guid.Empty);

            modal.Show<ExperimentDetail>("Add experiment", parameters);
        }

    }
